{% extends 'layout/default/index.html.twig' %}

{% block title %}{% trans %}Les Catégories{% endtrans %}{% endblock %}

{% block main %}
    <h1>{% trans %}Les Catégories{% endtrans %}</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>{% trans %}Nom{% endtrans %}</th>
                <th>{% trans %}Uri{% endtrans %}</th>
                <th>{% trans %}Actions{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
            {% for category in categories %}
                <tr>
                    <td>{{ category.id }}</td>
                    <td>{{ category.name }}</td>
                    <td>{{ category.slug }}</td>
                    <td>
                        <a href="{{ path('app_category_show', {'slug': category.slug}) }}">{% trans %}Détail{% endtrans %}</a>
                        {% if is_granted("ROLE_ADMIN") %}
                            <a href="{{ path('app_category_edit', {'slug': category.slug}) }}">{% trans %}Modifier{% endtrans %}</a>
                        {% endif %}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">{% trans %}Aucun résultat{% endtrans %}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if is_granted("ROLE_ADMIN") %}
        <a href="{{ path('app_category_new') }}">{% trans %}Créer{% endtrans %}</a>
    {% endif %}
{% endblock %}
