{% extends 'layout/default/index.html.twig' %}

{% block title %}Post index{% endblock %}

{% block main %}
    <h1>Post index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Slug</th>
                <th>Content</th>
                <th>Cover</th>
                <th>Active</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
            {% for post in posts %}
                <tr>
                    <td>{{ post.id }}</td>
                    <td>{{ post.title }}</td>
                    <td>{{ post.slug }}</td>
                    <td>{{ post.content }}</td>
                    <td>{{ post.cover }}</td>
                    <td>{{ post.active ? 'Yes' : 'No' }}</td>
                    <td>{{ post.createdAt ? post.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                    <td>{{ post.updatedAt ? post.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                    <td>
                        <a href="{{ path('app_post_show', {'slug': post.slug}) }}">show</a>
                        {% if is_granted('POST_EDIT', post) %}
                            <a href="{{ path('app_post_edit', {'slug': post.slug}) }}">edit</a>
                        {% endif %}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="9">no records found</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {% if is_granted('ROLE_USER') %}
        <a href="{{ path('app_post_new') }}">Create new</a>
    {% endif %}
{% endblock %}
